openapi: 3.2.0
info:
  title: Tebra Clinical Data Documents API
  description: Read-only REST access to a patient's clinical health information held in the Tebra (formerly Kareo + PatientPop) platform.
  version: '1.0'
  contact:
    name: Tebra
    url: https://www.tebra.com/macra
  license:
    name: Proprietary (Tebra API Terms of Use)
    url: https://www.tebra.com
servers:
- url: https://api.tebra.com/clinical/v1/api
  description: Tebra Clinical Data API (production)
security:
- apiKeyAuth: []
tags:
- name: Documents
  description: Binary clinical summary documents (e.g. C-CDA).
paths:
  /patient/binary/summary:
    get:
      tags:
      - Documents
      summary: Get clinical summary document
      description: Retrieves the patient's clinical summary as a binary document (e.g. a C-CDA). Confirmed endpoint; response modeled.
      operationId: getBinarySummary
      responses:
        '200':
          description: Binary clinical summary document.
          content:
            application/xml:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: The API Key is missing, revoked, or otherwise not valid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        status:
          type: integer
          example: 401
        message:
          type: string
          example: Unauthorized
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Patient-generated API Key from the Tebra Patient Portal (My Account > API Access Key). A missing, revoked, or invalid key returns 401 Unauthorized.
